@model ProductListViewModel


@foreach (var product in Model.Products)
{
    <div>
        <h4>@product.Name</h4>
        <p>@product.Description</p>
        <p>@product.Price</p>
        <p>@product.Category</p>
    </div>
}

<div page-model="@Model.PageInfo" page-action="Index"></div>